body {
    margin: 0 15%;
    text-align: center;
    background-color: #edeff1;
    color: #586a66;
}

h1 {
    color: white;
    background-color: #ff8fa5;
}

#gamearea {
    background-color: white;
    font-size: 34px;
    margin-top: 20px;
    padding: 25px;
    height: 84px;
}

#data {
    font-size: 20px;
    margin: 0px;
    padding: 5px;
    height: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

#time {
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: left;
}

#misstype {
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
}

#score {
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: right;
}

#twitter {
    text-align: center;
    margin: 20px;
}

footer {
    margin-top: 25px;
}

footer a:link {
    color: #c25067;
}

footer a:visited {
    color: #682a37;
}

#error {
    color: #c25067;
}